{% extends "web_app/base.html" %}
{% load static %}

{% block content %} 
<div class="h-full min-h-screen bg-cover bg-gradient-to-tr from-blue-300 to-lime-100">
    <div class="flex items-center justify-center flex-none md:flex-none py-4">
        <div class="flex justify-center align-middle">
            <span class="mb-5 text-6xl align-middle font-extrabold text-gray-900 lg:text-6xl text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Tempo</span>
            <span class="mb-5 text-6xl font-extrabold text-gray-900 flex justify-center">Mail</span>
        </div>
        <div class="flex items-center h-14">
            <svg class="w-16 h-16" viewBox="-2 3 25 25">
                <path d="M21 3C21.5523 3 22 3.44772 22 4V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V19H20V7.3L12 14.5L2 5.5V4C2 3.44772 2.44772 3 3 3H21ZM8 15V17H0V15H8ZM5 10V12H0V10H5ZM19.5659 5H4.43414L12 11.8093L19.5659 5Z"></path>
            </svg>
        </div>
    </div>
    
    <!-- Main container -->
    <div class="container mx-auto lg:px-20 md:px-14 sm:px-10 text-center">
        <!-- New address button -->
        <form action="{% url 'web_app-get_new_address' %}" class="mb-5 max-w-xs transition duration-300 ease-in-out hover:scale-110 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            <input type="submit" value="Get a new address"/>
        </form>

        <div class="mb-5 text-lg">Your addresses:</div>

        <!-- Address list -->
        <div class="grid-cols-1 grid-flow-rows auto-rows-max gap-4 bg-slate-50 shadow-2xl rounded-lg">
            {% for address in addresses %}
            <div class="mb-3 flex flex-col space-y-1 p-1 hover:bg-slate-200 hover:rounded-lg">
                <!-- address -->
                <a href="{% url 'web_app-inbox'%}?login={{ address.login }}&domain={{ address.domain }}">
                    <p class="font-mono break-words">{{ address.login }}@{{address.domain}}</p>
                </a>

                <!-- below the address -->
                <div class="flex items-center justify-center flex-none">
                    <!-- Inbox + svg flexbox -->
                    <a href="{% url 'web_app-inbox'%}?login={{ address.login }}&domain={{ address.domain }}">
                        <div class="flex items-center justify-center flex-none scale-90 hover:scale-110">
                            <p>Inbox</p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22"><path d="M21 3C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H21ZM7.41604 14H4V19H20V14H16.584C15.8124 15.7659 14.0503 17 12 17C9.94968 17 8.1876 15.7659 7.41604 14ZM20 5H4V12H9C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12H20V5Z"></path></svg>
                        </div> 
                    </a>
                    
                    <!-- Delete + svg flexbox -->
                    <a href="{% url 'web_app-delete_address'%}?login={{ address.login }}&domain={{ address.domain }}">
                        <div class="flex items-center justify-center flex-none scale-90 hover:scale-110">
                            <p>Delete</p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z" fill="rgba(240,40,40,1)"></path></svg>
                        </div>
                    </a>

                    <!-- Timer -->
                    <div class="timer font-mono flex align-middle justify-center" data-expiryTmstmp="{{ address.expiry_time.timestamp }}">
                        <span id="minutes" class="w-7 bg-slate-600 text-slate-50 p-1 m-0.5 rounded-md"></span>
                        <!-- <span id="separator" class="">:</span> -->
                        <span id="seconds" class="w-7 bg-slate-600 text-slate-50 p-1 m-0.5 rounded-md"></span>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    
<script defer src="{% static 'web_app/updateTimers.js' %}" type="text/javascript">
</script>
{% endblock content %}