{% extends "web_app/base.html" %}

{% block content %} 
<div class="h-full min-h-screen bg-cover bg-gradient-to-tr from-blue-300 to-lime-100">
    <div class="sm:container sm:mx-auto px-100 pt-10 text-center">
        <div class="flex items-center justify-center flex-none md:flex-none">
            <h1 class="mb-5 text-6xl font-extrabold text-gray-900 dark:text-white lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Tempo</span>Mail</h1>
            <svg width="5.5em" height="5.5em" class="flex-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M21 3C21.5523 3 22 3.44772 22 4V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V19H20V7.3L12 14.5L2 5.5V4C2 3.44772 2.44772 3 3 3H21ZM8 15V17H0V15H8ZM5 10V12H0V10H5ZM19.5659 5H4.43414L12 11.8093L19.5659 5Z"></path></svg>
        </div>  
        <form action="{% url 'web_app-get_new_address' %}" class="mb-5 max-w-xs transition duration-300 ease-in-out hover:scale-110 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            <input type="submit" value="Get a new address" />
        </form>

        <div class="mb-5">Your addresses:</div>
        <div class="grid-cols-1 grid-flow-rows auto-rows-max gap-4">
        {% for address in addresses %}
        <div class="mb-3">
            <!-- name and inbox -->
            <a href="{% url 'web_app-inbox'%}?login={{ address.login }}&domain={{ address.domain }}">
                <p>{{ address.login }}@{{address.domain}}</p>
            <div class="flex items-center justify-center flex-none">
                <div class="flex items-center justify-center flex-none scale-90 hover:scale-110">
                        <p>Inbox</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22"><path d="M21 3C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H21ZM7.41604 14H4V19H20V14H16.584C15.8124 15.7659 14.0503 17 12 17C9.94968 17 8.1876 15.7659 7.41604 14ZM20 5H4V12H9C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12H20V5Z"></path></svg>
                    </div> 
                </a>
                <!-- Delete button -->
                <div class="flex items-center justify-center flex-none scale-90 hover:scale-110">
                    <a href="{% url 'web_app-delete_address'%}?login={{ address.login }}&domain={{ address.domain }}">
                    Delete
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z" fill="rgba(240,40,40,1)"></path></svg>
                </div>
            </div>


                
        </div>
        {% endfor %}
        </div>
    </div>
</div>
    
{% endblock content %}