{% extends "web_app/base.html" %}

{% block content %} 
<div class="px-5 pt-3 h-full min-h-screen bg-cover bg-gradient-to-tr from-blue-300 to-lime-100">
<h1 class="whitespace-nowrap mb-5 font-extrabold text-gray-900 break-all text-lg sm:text-3xl md:text-4xl lg:text-5xl" id="address">{{ address.login }}@{{ address.domain }}</h1>
    <button onclick="copyAdressToClipoard()" class="mb-5 max-w-xs transition duration-300 ease-in-out hover:scale-110 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
    Copy address
    <svg class="ml-3 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 4V2H17V4H20.0066C20.5552 4 21 4.44495 21 4.9934V21.0066C21 21.5552 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5551 3 21.0066V4.9934C3 4.44476 3.44495 4 3.9934 4H7ZM7 6H5V20H19V6H17V8H7V6ZM9 4V6H15V4H9Z" fill="rgba(255,255,255,1)"></path></svg>
    </button>

    <div class="mb-5">Your inbox:</div>
    {% for message in messages %}
    <div class="mb-3 bg-slate-50 rounded-lg max-w-6xl hover:opacity-70">
        <a href="{% url  'web_app-message' %}?login={{ address.login }}&domain={{ address.domain }}&id={{ message.external_id }}">
            <div class="flex flex-row">
                <div class="flex flex-col w-16">
                    <p class="p-2 text-right font-bold">Subject</p>
                    <p class="p-2 text-right font-bold">From</p>
                    <p class="p-2 text-right font-bold">Date</p>
                </div>
                <div class="flex flex-col px-2">
                    <p class="p-2 text-left">{{ message.subject }}</p>
                    <p class="p-2 text-left">{{ message.sender }}</p>
                    <p class="p-2 text-left">{{ message.formatted_date }}</p>
                </div>
            </div>
            <!-- <p class="text-xl break-words"><span style="color:blue;opacity:0.7">Subject: </span>{{ message.subject }}</p> -->
            <!-- <p><span style="color:blue;opacity:0.7">From: </span>{{ message.sender }}</p> -->
            <!-- <p><span style="color:blue;opacity:0.7">Date: </span>{{ message.formatted_date }}</p> -->
            <!-- <p><span style="color:blue;opacity:0.7">External id: </span> {{ message.external_id }}</p> -->
        </a>
    </div>
    {% endfor %}
    <script defer>
        function copyAdressToClipoard() {
            let address = document.getElementById("address").textContent;
            navigator.clipboard.writeText(address);
        }
    </script>
</div>
{% endblock content %}